.prose-lg .timeline li::marker {
  content: none;
}
.prose-lg .timeline li::last-child {
  border: 0px;
  padding-bottom: 0;
}
.prose-lg .timeline ul li::before {
  content: '';
  width: 17px;
  height: 17px;
  background: white;
  border: 1px solid #1da1f2;
  box-shadow: 2px 2px 0px #a2d7f7;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
